body {
    color: rgb(255, 233, 250);
    background: rgb(86, 50, 110);
    margin: 0px;
    font-family: "Fontdiner Swanky", serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(20, 11, 26);
    padding: 20px;
    font-size: 32px;
    color: rgb(130, 174, 214);
}

.chamada {
    background: rgb(20, 11, 26);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}