body {
    color: rgb(197, 46, 164);
    background: rgb(19, 15, 37);
    margin: 0px;
    font-family: "Fontdiner Swanky", serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(16, 8, 29);
    padding: 20px;
    font-size: 32px;
    color: rgb(255, 220, 249);
}

.chamada {
    background: rgb(35, 26, 71);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}